.bajajad{
    width: 100%;
    height: 363px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastdeals{
    height: 460px;
    top: 372px;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;

}