.footer{
    width: 100%;
    height: 680px;
    margin-top: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131A22;
}
.footer hr{
    opacity: 0.2;
    margin: -1px;
    border-bottom: thick;
}
.backtotop{
    width: 100%;
    height: 49px;
    background-color: rgb(55,71,90);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.backtotop p{
    width: 100%;
    color: white;
}
.aboutamazon{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35,47,62);
}
.about{
    width:53%;
    height: 69%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap:  97px;
}
.about div{
    min-width: 132px;
    max-width: 214px;
}

.aboutheading{
    font-size: 16px!important;
    line-height: 13px!important;
    color: white!important;
    font-weight: 700!important;
}
.about p{
    line-height: 10px;
    font-size: 14px;
    color: #DDD;
}
.languagefooter{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35,47,62);
    gap: 100px;
}
.languagefooter img{
    width: 4%;
}
.amazonlang{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 117px;
    height: 33px;
    border: 1px solid rgb(132,134,136);
    gap: 10px;
    padding: 4px;
    box-sizing: border-box;
    
}
.amazonlang img{
    width: 17%;
    filter: invert(100);
}
.amazonlang p{
    color: #CCCCCC;
    font-size: 13px;
}
.countries{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #232f3e;
}
.countries p{
    text-align: center;
    font-size: 12px;
    color: white;
}
.amazonservicess{
    height: 140px;
    width: 100%;
    background-color: #131A22;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services{
    width: 53%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 1fr;
    font-size: 11px;
    gap: 11px;
    column-gap: 33px;
}
.services div{
    max-height: 38px;
    max-width: 260px;
    min-width: 131px;
}
.services p{
    color: #D6DDD7;
}
.services p span{
    color: #8C8D8D;
}	
.liscense{
    width: 100%;
    height: 69px;
    background-color: #131A22;
    text-align: center;
    margin-top: 10px;

}
.liscense p{
    font-size: 12px;
    line-height: 18px;
    color: white;
    margin: 0%;
}


