.topheader{
    width: 99.2vw;
    height: 99px;
}
.mainheader{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(19,25,33);
    display: flex;    
}
.leftmainhead,.bottomhead,.righthead{
    display: flex;
    flex-direction: row;
}
.leftmainhead{
    min-width: 14%;
    width: 15.2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.amazonlogo{
    padding: 17px;
    width: 35%;
}
.location{
    width: 60%;
    display: flex;
    align-items: center;
    color: white;
}
.locationimg{
    width: 13%;
    filter: invert(100%);
}
.locationdetails{
    line-height: 5px;
}
.deliveryname{
    font-size: 12px;
    color: #ccc;
    font-weight: 500;
}
.deliveryplace{
    font-size: 14px;
    font-weight: 700;
}
.bottomhead{
    width: 63%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemlist{
    width: 4.5%;
    height: 70%;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #cdcdcd;
}
#searchbar{
    width: 90%;
    height: 67%;
    border: none;
}
.searchbutton{
    width: 4%;
    height: 71%;
    margin-left: 0%;
    background-color: rgb(254,189,105);
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.searchbutton img{
    width:65%;
}
.righthead{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    width: 21.45vw;
    gap: 30px;
    align-content: center;
    padding: 10px 30px;
}
.righthead div{
    height: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    color: white;
}
.indiaflag{
    width: 50%;
}
.language{
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
}
.accountowner{
    font-size: 12px;
    margin-top: 5px;
}
.accountdetails{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.accountdetails p{
    width: 100%;
}
.accountlist{
    font-size: 14px;
    font-weight: 700;
    margin-top: -11px;
}
.cart{
    position: relative;
    gap: 10px;
}
.cartimage{
    filter: invert(100%);
    width: 50%;
}
.cartitemnum{
    position: absolute;
    top: -11px;
    left: 14%;
    font-size: 21px;
    font-weight: 700;
}
.cartitemnum p{
    color: rgb(240,136,4);

}
.cartoption{
    font-weight: 700;
    margin-top: 30px;
    font-size: 12px;
}